<section class="contenedor">
    <form action='@Url.Action("Comenzar","Home")' method="get" class="configurar">
        <div class="input_container_dif">
        <p class="mensaje">Ingrese la <strong>Dificultad</strong></p>
            @{
                foreach (Dificultades dif in ViewBag.Dificultad)
                {
                    <div class="dif_option">
                        <input name="dificultad" required id='dif_@dif.IdDificultad' type="radio" value="@dif.IdDificultad" class="dif_input">
                        <label class="dif_label" for="dif_@dif.IdDificultad">@dif.Nombre</label>
                    </div>
                }
            }
        </div>
        <div class="input_container_cat">
        <p class="mensaje">Ingrese la <strong>Categoria</strong></p>
            @{
                foreach (Categorias cat in ViewBag.Categorias)
                {
                    <div class="cat_option">
                        <input name="categoria" required id='cat_@cat.IdCategoria' type="radio" value="@cat.IdCategoria" class="cat_input">
                        <label class="cat_label" for="cat_@cat.IdCategoria">@cat.Nombre</label>
                    </div>
                }
            }
        </div>
        <div class="input_container_username">
            <p class="mensaje">Ingrese su <strong>Nombre de Usuario</strong></p>
            <input type="text" required placeholder="Username" class="username_input" name = "username">
        </div>
        <input type="submit" value="JUGAR" class="jugar">
    </form>
</section>
