<section class="contenedor_juego">
    @foreach(Categorias cat in ViewBag.Categorias){
        if(cat.IdCategoria == ViewBag.pregunta.IdCategoria)
        {
            <div class="cat" style="background-color: @cat.ColorAsociado">
                <p>@cat.Nombre</p>
            </div>
        }
    }

    <div class="info_user">
        <p>Username: @ViewBag.username</p>
        <p>Puntaje: @ViewBag.PuntajeActual</p>
    </div>

    <div class="pregunta">
        <div class="enunciado">
            <p>@ViewBag.pregunta.Enunciado</p>
        </div>
        <div class="input_container_res">
        @{
            foreach (Respuestas res in ViewBag.respuestas)
            { 
                
                <form action='@Url.Action("VerificarRespuestaController","Home")' method="post"class="pregunta" class="res_option_@res.Correcta.ToString()">
                    <input type = "hidden" value="@res.IdPregunta" name = "idPregunta">
                    <input type = "hidden" value="@res.IdRespuesta" name = "idRespuesta">
                    <input type = "hidden" value ="@res.Contenido" name = "respuesta">
                    <input name="categoria" required id='res_@res.IdRespuesta' type="submit" value="@res.IdRespuesta" class="res_input_@res.Correcta" data-pregunta ="@res.IdPregunta">
                    <label class="res_label" for="res_@res.IdRespuesta">@res.Contenido</label>
                   

                </form>
            }
        }
        </div>
    </div>
</section>